.header-container {
    position: relative;
    background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
    border-radius: 0px 0px 0px 100px;
    height: 600px;
    overflow: hidden;
    padding: 60px 167px;
    z-index: 1;

    .header-middle-container {
        z-index: 2;
        margin-top: 132px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .header-middle-title {
            font-family: 'Overpass';
            font-style: normal;
            font-weight: 600;
            font-size: 64px;
            line-height: 98px;
            text-align: center;
            letter-spacing: -1.92px;
            color: #FFFFFF;

        }

        .header-middle-subtitle {
            font-family: 'Overpass';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 31px;
            text-align: center;
            opacity: .7;
            color: #FFFFFF;
            margin-bottom: 43px;
        }
        .header-middle-container-buttons{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;
        }
    }

    .header-top-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 64px;
        z-index: 2;

        .header-top-container_wrapper {
            display: flex;
            justify-content: space-between;
            width: 100%;
            z-index: 2;


            .header-top-container_wrapper-left {
                display: flex;
                gap: 48px;
                position: relative;

                .item-arrow-container {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    .navbaritem {
                        font-family: 'Ubuntu';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 18px;
                        color: #FFFFFF;
                        opacity: .7;
                        cursor: pointer;

                        &.active {
                            border-bottom: 3px solid #FFFFFF;
                            opacity: 1;
                        }
                    }

                    .navbar-arrow {
                        &.active {
                            transform: rotate(180deg);
                            color: white;
                            opacity: 2;
                        }
                    }

                }


            }

            .header-top-container_wrapper-right {
                display: flex;
                align-items: center;
                gap: 32px;

                .header-right-label {
                    font-family: 'Ubuntu';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 18px;
                    text-align: right;
                    color: #FFFFFF;
                    mix-blend-mode: normal;
                    opacity: 0.75;
                }
            }
        }
    }

    .header-backgroud {
        background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
        transform: rotate(22deg);
        position: absolute;
        width: 1705px;
        height: 1716px;
        left: 679.8px;
        top: -870.93px;
        z-index: -1;
    }
}